body {

  background-color: #40D4FF;
}

h1 {

  margin: 8px;
  padding: 8px;
  font-weight: bolder;
  font-style: oblique;
  font-size: 150%;

}

p {
  margin: 8px;
  padding: 8px;
  width: 450px;
}

footer {
  margin: auto;
  padding: inherit;
  font-weight: bolder;
  font-size: 150%;
  text-transform: capitalize;
  color: #FFFFFF;
}

article {
  margin: auto;
  padding: inherit;

}
#signature {
  margin: 8px;
  padding: 8px;
}

.ampersand {
  margin: 8px;
  padding: 8px;
  font-family: fantasy;
  color: #FF9F00;
}

.pizzacat {
  width: 450px;
  height: 450px;
  margin: 8px;
  padding: 8px;

}
